@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for specific elements */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.glow{
    text-shadow: 0 0 5px #f97316, 0 0 50px #f97316, 0 0 100px #f97316, 0 0 100px #f97316;
}